body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 150px;
}


header {
    width: 100%;
    height: 15%;
    color: whitesmoke;
    font-weight: 100;
    background-color: rgb(83, 83, 83);
    text-align: center;
    padding: 5px 0px 5px 0px;
    border-bottom: 2px solid rgb(255,129,0);
}

header h3 {
    font-weight: 200;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}


footer {
    width: 100%;
    height: 5%;
    background-color: rgb(83, 83, 83);
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    font-weight: 200;
    border-top: 2px solid rgb(255,129,0);
}

.main {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.left {
    margin-top: 20px;
    width: 60%;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    margin-top: 20px;
    width: 50%;
    padding: 15px 15px 15px 15px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.count-header {
    text-align: center;
    font-weight: bold;
}

p.count-header{
    font-size: 1.1rem;
    letter-spacing: 0.12rem;
    font-weight: 500;
}

.text {
    vertical-align: top;
}

#wymiary_okraglego {
    display: none;
}

#wymiary_kwadratowego {
    display: none;
}

td,th {
    font-weight: 400;
    font-size: 0.9rem;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgb(255,129,0);
}


.calucateButton {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 0.5px solid rgb(255,129,0);
    padding: 5px 5px 5px 5px;
    font-size: 0.9rem;
}

.calucateButton:hover {
    background-color: rgb(255,129,0);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


table, th{
    border: 2px solid black;
    border-collapse: collapse;
}


#bokAM,
#bokBM,
#promienM,
#liniowaPOMS {
    border: 1px solid #000;
    background-color: darkgray;
    padding: 10px;
    width: 150px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #666;
}


.table-section, .function-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.calucateButton{
    width: 30%;
    border-radius: 10%;
}

.description-in-row{
    background-color: rgb(83, 83, 83);
    border: 0.6px solid rgb(255,129,0);
    color: white;
    font-weight: 200;
    letter-spacing: 0.12rem;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

#historical-results{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    visibility: hidden;
}

.csv-results-table{
    border: 1px solid black;
    margin-left: 25px;
    text-align: center;
    margin-right: 25px;
}


#historical-results th{
    background-color: rgb(83, 83, 83);
    color: azure;
    padding: 10px 10px 10px 10px;
}


.result{
    background-color: rgb(139, 64, 0);
    text-align: center;
    color: azure;
}

.select-button{
    border: 0.6px solid rgb(255,129,0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.select-button p{
    font-weight: 400;
    font-size: 1.05rem;
}

.select-button input{
    margin-left: 20px;
}
